
:root{
box-sizing:border-box;
}
*,
::before,
::after{
box-sizing:inherit;

}
*{
margin:0px;
padding:0px;
}

/*Header Start*/


.ul a:link{
color:#db1000;
text-decoration: none;
padding:10px;
}

.ul a:visited {
color:purple;
text-decoration: underline;
}

.big-link a:hover {
color:#db1000;
background-color:black;
}

.big-link a:active {
color: purple;
}

.header {
border-bottom:2px solid #dc1000;
padding-top:0.5em;
overflow:hidden;
}

.header ul {	
list-style-type: none;
padding: 10px 0;		
display:flex;
justify-content:center;
}

.header ul li {
display:inline-block;
text-transform: uppercase;
font-size: 0.9em;
padding: 0 25px;
border-left: 1px solid #252525;
}

.header .logo{
margin:0 0 1.5em;
text-align:center;
padding-bottom:15px;
}

.header .logo h1 {
font-family: "Lucida Sans";
font-size: 2em;
text-transform: uppercase;
}
.header .logo h1 a {
color: #dbcccc;
}
.header ul li.f {
border: 0;
}
span{
color:#dc1000;
font-family:Times New Roman;
}
.header p{
color:#db1000;
}
/*HEADER END*/


.blog-section{
width:100%;
}

.container{
display:grid;
grid-template-columns: 70% 30%;
grid-gap:50px;
}

.blog-section .section-content{
width:95%;
overflow:hidden;
margin:20px auto;
}
.blog-section .section-content .cards{
display:grid;
grid-template-columns: repeat(3, 1fr);
grid-gap:50px;
margin:25px auto;

}
.blog-section .section-content .cards .card{
width:100%;
background-color:#f7f7f7;
position:relative;
}
.blog-section .section-content .cards .card img{
width:90%;
height:auto;
}
.blog-section .section-content .cards .card .article{
padding:15px 10px;
}
.blog-section .section-content .cards .card .article h4{
font-size:20px;
color:#4a4a4a;
}
.blog-section .section-content .cards .card .article p{
font-size:18px;
margin:10px 0px;
color:#6a6a6a;
}
.blog-section .section-content .cards .card a{
text-decoration:none;
display:inline-block;
background-color:#dc1000;
padding:8px 15px;
margin-left:20px;
color:#fff;
margin-bottom:20px;
}
.blog-section .section-content .cards .card .posted-date p{
font-weight:600;
position:absolute;
top:0;
left:0;
display:inline-block;
background-color:#DC1000;
padding:4px 12px;
color:white;
border-radius:0px 0px 5px 0px;
}

/*SIDEBAR START*/
#sidebar {
box-shadow:0px 3px 5px 1px grey;
padding-left:15px;
padding-bottom: 20px;

}
#sidebar .wrapper {
		padding: 0 15px;
	}
#sidebar h2 {
		color: #252525;
		font-size: 0.9em;
		text-transform: uppercase;
		margin: 15px 0 10px;
	}
#sidebar ul {
		list-style-type: none;
	}
		#sidebar ul li {
			border-bottom: 1px dotted #DADADA;
			line-height: 1.4em;
			padding: 4px 0;
			font-size: 0.9em;
		}
		#sidebar ul li a {
			color: #808080;
		}
		#sidebar ul li a:hover {
			color: #DC1000;
		}

	#sidebar .flick {
padding:0;
border-bottom:1px solid #dc1000;;
 }
		#sidebar .flickr img {
			margin: 3px;
		}
	#sidebar .video {
		padding-bottom: 5px;
	}
	#sidebar .tags { 
		padding-bottom: 5px;
	}
		#sidebar .tags a {
			color: #808080;
		}
		#sidebar .tags a:hover {
			color: #DC1000;
		}
	#sidebar .l {
		float: left;
		width: 125px;
	}
	#sidebar .r {
		float: right;
		width: 125px;
	}
		#sidebar .sbar li {
			font-size: 1em;
			padding-left: 12px;
			background: url(images/bullet.gif) no-repeat 0 8px;
			border: 0;
		}
/*SIDEBAR END*/

/*FOOTER START*/
#footer {
	background-color: #dbcccc;
	color: #ffffff;
	font-family: Georgia;
	padding: 30px;
}
	#footer p {
		line-height: 1.5em;
text-align:center;
	}
#footer a{
color:#dc1000;
text-decoration:none;
}
/*FOOTER END*/

.postnav {
		display:flex;
		justify-content:center;
		padding: 20px 34px 40px;
	}
.postnav ul {
			list-style-type: none;
			border: 0;
		}
			.postnav ul li {
				float: left;
				padding: 2px;
				padding: 2px;
			}
			.postnav ul li a {
				display: block;
				text-align: center;
				text-decoration: none;
				border: 0;
				padding: 5px 8px;
				background-color: #9F9F9F;
				color: #ffffff;
				font-family: Georgia;
				font-weight: bold;
			}
			.postnav ul li a:hover {
				background-color: #E05F00;
				border: 0 !important;
			}
			.postnav ul li.next a {
				width: auto;
				padding: 2px 4px;
			}
 .postnav .page_info {
				text-align: center;
				text-decoration: none;
				border: 0;
				padding: 5px 8px;
				background-color: #9F9F9F;
				color: #ffffff;
				font-family: Georgia;
				font-weight: bold;
				margin: 2px;
			}



@media screen and (max-width:992px){
.blog-section .section-content .cards{

grid-template-columns: repeat(2, 1fr);

}
.menu {
 
position: relative; 

}



.menu-toggle {
 
position: absolute;
 
top:-1em;
left: 0.1em;
 
border: 0; 
 
background-color:transparent;
font-size: 3em;
 
width: 1em;
 
height: 1em;
 
line-height: 0.4;

text-indent: 5em; 
 
white-space: nowrap;
 
overflow: hidden;

}
.menu-toggle::after {
 
position: absolute;
 
top: 0.2em;
 
left: 0.2em;
 
display:block;
content: "\2261"; 
 
text-indent: 0;

}

.menu-dropdown {
 
display: none;
 
position: relative;
 
right: 0;
 
left: 0;
 
margin: 0;

}


.menu.is-open .menu-dropdown {

display:block;
}


.nav-menu {
 
margin: 0;
 
padding-left: 0;
 
border: 1px solid #ccc;
 
list-style: none;
 
background-color: #000;
 
color: #fff;

}

.nav-menu > li + li { 
 
border-top: 1px solid #ccc;

}

.nav-menu > li > a {

 display:block;
padding: 0.8em 1em; 
 
color: #fff;
 
 font-weight: normal;

}

.big-link{
display:none;
}
}

@media screen and (min-width:992px){
.menu{
display:none;
}
}

@media screen and (max-width:768px){
.blog-section .section-content .cards{
grid-template-columns:repeat(2, 1fr);
}
.container{
grid-template-columns: 1fr;
}

#sidebar{
display:none;
}
}

@media screen and (max-width:476px){
.blog-section .section-content .cards{
grid-template-columns:1fr;
}
#sidebar{
display:none;
}
.big-link{
display:none;
}
}
